<body class="algemeen">
    <section>
        <h2>Inloggen</h2>

        <form action="/inloggen" method="post">
            <label for="fname"></label><br>
            <input type="text" id="username" name="username" placeholder="Naam" required><br>
            <label for="password"></label><br>
            <input type="password" id="password" name="password" placeholder="Wachtwoord" required><br><br>
            <input type="submit" value="Inloggen">
        </form>

        <p>Nog geen account aangemaakt? <br><a href="/registreren">Meld je nu aan!</a></p>

    </section>
</body>