<body class="profielpagina">

    <section>
        <form action="/uitloggen" method="post">
       <input type="submit" value="">
       </form>
        <img alt="profielfoto" class="profileafbeelding"
            src="https://i.postimg.cc/y6FHTx9b/blank-profile-picture-973460-640-e1561803510819.png">
        <form action="/profiel" method="post">
            <input type="text" id="username" name="username" placeholder="Gebruikersnaam" required><br>
            <label for="fname"></label><br>
            <input type="text" id="email" name="email" placeholder="E-mail" required><br>
            <label for="email"></label><br>
            <input type="text" id="password" name="password" placeholder="Wachtwoord" required><br>
            <label for="fname"></label><br>
                <input type="submit" value="Opslaan">
                <input type="submit" value="Verwijderen">
        </form>
    </section>

</body>