<body class="profielpagina">

    <section>
        <form action="/uitloggen" method="post">
       <input type="submit" value="">
       </form>
       <a href="/bierpagina"><img alt="bierpagina" src="https://i.postimg.cc/Bn3QDwPw/beer.png"></a>
        <img alt="profielfoto" class="profileafbeelding"
            src="https://i.postimg.cc/y6FHTx9b/blank-profile-picture-973460-640-e1561803510819.png">
        <form action="/profiel" method="post">
            <input type="text" id="username" name="username" placeholder="Gebruikersnaam" value="{{username}}" required><br>
            <label for="fname"></label><br>
            <input type="text" id="email" name="email" placeholder="E-mail" value="{{email}}" required><br>
            <label for="email"></label><br>
                <input type="submit" value="Opslaan">
            <form action="/verwijdergebruiker" method="post">
                <input type="submit" value="verwijderen">
                </form>
        </form>
    </section>

</body>