<body class="registreren login">
    <section>
        <h2>Registreren</h2>

        <form action="/registreren" method="post">
            <input type="text" id="username" name="username" placeholder="Gebruikersnaam" required><br>
            <label for="fname"></label><br>
            <input type="email" id="email" name="email" placeholder="E-mailadres" required><br>
            <label for="password"></label><br>
            <input type="password" id="password" name="password" placeholder="Wachtwoord"  required><br><br>
            <input type="submit" value="Inloggen">
        </form>

        <p>Al een account gemaakt? <br><a href="/">Log nu in!</a></p>

    </section>
</body>