* {
  font-family: "Sen", Sans-Serif;
  color: white;
}

html,
body {
  min-height: 100%;
}

body {
  background: #020024;
  background: linear-gradient(0deg, #020024 0%, #41686c 0%, #389ba3 53%, #00d4ff 100%);
}

article {
  background: rgba(17, 144, 197, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(17, 144, 197, 0.3);
  border-radius: 2em;
  margin: 1em;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  width: 9.375em;
}

header h1 {
  -webkit-text-stroke: 1px black;
  font-size: 2.5em;
  margin-top: -1em;
  font-weight: 600;
}

p:first-child {
  position: absolute;
  color: black;
  bottom: 0;
  left: 1em;
  font-size: 1.5em;
  font-weight: 600;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

body.algemeen {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

body.algemeen h2 {
  text-align: center;
  margin-top: 1em;
}

body.algemeen section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body.algemeen section p {
  text-align: center;
  margin-bottom: 1em;
}

body.algemeen section form {
  padding: 0.5em;
}

body.algemeen section form input {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.5em;
  border: none;
  box-shadow: 0.2em solid;
  box-sizing: border-box;
  color: black;
  width: 100%;
  border-radius: 1em;
  padding: 1em;
}

body.algemeen section form input[type=submit] {
  background-color: #18899c;
  color: white;
}

body.algemeen section form label {
  display: block;
  margin: 0.2em;
  font-size: 1.25em;
  font-weight: 600;
}

body.profielpagina a img:first-of-type {
  display: block;
  background-color: unset !important;
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: unset;
  position: absolute;
  height: 3em;
  width: 3em;
  top: 0;
  left: 0;
  padding: 0.5em;
}

body.profielpagina section .profileafbeelding {
  box-sizing: border-box;
  margin-left: 30%;
  margin-top: 1em;
  margin-bottom: 2em;
  border-radius: 50%;
  width: 40%;
}

body.profielpagina section form:first-of-type input {
  display: block;
  background-image: url("https://i.postimg.cc/k4BnxPNJ/logout.png");
  background-color: unset !important;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: unset;
  position: absolute;
  background-size: 90%;
  height: 4em;
  width: 4em;
  top: 0;
  right: 0;
  padding: 0.5em;
}

body.profielpagina section form input {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
  margin: 0em 0em 1em 1em;
  border: none;
  box-shadow: 0.2em solid;
  box-sizing: border-box;
  color: black;
  width: 90%;
  border-radius: 1em;
  padding: 1em;
}

body.profielpagina section form input[type=submit] {
  color: white;
  margin: 0em 0em 2em 1em;
  background-color: #18899c;
}

body.profielpagina section form:last-of-type p {
  background-color: white;
  color: black;
  padding: 10px 3px;
  border-radius: 1em;
}

body.bierpagina h1 {
  text-align: center;
  margin-bottom: 1em;
}

section:first-of-type {
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  width: 100%;
}

section:first-of-type section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-size: cover;
  background-position: center;
  margin-top: 0.5em;
  width: 85%;
  aspect-ratio: 1/1.5;
}

section:first-of-type section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}

section:first-of-type section:nth-child(2) div:first-of-type {
  background: #fff;
  border: 0.2em solid;
  text-align: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0.5em;
}

section:first-of-type section:nth-child(2) div:nth-child(2) {
  background: #fff;
  border: 0.2em solid;
  text-align: center;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  padding: 0.5em;
}

.errormelding {
  background: rgba(243, 8, 0, 0.986);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(247, 1, 1, 0.932);
  border-radius: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-size: 1em !important;
}

/*# sourceMappingURL=styles.css.map */